[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
mysql-connector-python = "*"
flask-cors = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.9"
