.lids-dashboard {
    text-align: center; /* Center-align text */
    background-color: #434C56; 
    min-height: 100vh; /* Ensure a minimum height of the viewport */
    display: flex; /* Use flexbox for vertical centering */
    flex-direction: column; /* Vertically align children */
    
    
    
  }
  .h1-custom{
    color: white; /* White text color */
    font-family: 'Libre Baskerville', serif; 
    text-align: center; /* Carlos - Alert text wont center, for some reason :( */
    
  }
  .top-section {
    background-color: #11253D; /* Background color for the top section */
  }
  
  .bottom-section {
    background-color: #434C56; /* Background color for the bottom section */
  }