.errors-display-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.errors-table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.gray-row {
  background-color: gray;
  color: black;
}

.button-spacing {
  margin-top: 10px; /* Adjust the margin as needed to create space */
}

