.lids-initial-ui {
    text-align: center; /* Center-align text */
    background-color: #9B9B9B; 
    min-height: 100vh; /* Ensure a minimum height of the viewport */
    display: flex; /* Use flexbox for vertical centering */
    flex-direction: column; /* Vertically align children */
    
    
    
  }
  
  .h1-custom{
    color: white; /* White text color */
    font-family: 'Libre Baskerville', serif; 
    padding-top: 25px;
  }
  .top-section-large {
    background-color: #294893; /* Background color for the top section */
    height: 250px;
  }
  
  .bottom-section {
    background-color: #9B9B9B; /* Background color for the bottom section */
  }