.alert-display-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

h1 {
  margin: 0;
}

.alert-table {
  width: 100%;
  border-collapse: collapse;
}

th{
  background-color: aliceblue;
  padding: 10px;
  text-align: center;
  border: 2.5px solid;
}

td {
  padding: 10px;
  text-align: center;
  border: 2.5px solid;
  background-color: gray;
}

.yellow-row {
  background-color: yellow;
  color: black;
}

.red-row {
  background-color: red;
  color: black;
}

.gray-row {
  background-color: gray;
  color: black;
}

.button-spacing {
  margin-top: 50px; /* Adjust the margin as needed to create space */
}

.export-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.export-button {
  background-color: lightgray;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
