/**
 * @author Carlos Alcazar and Denisse Fernandez
 * @version 5.0, 11/26/23
*/

.lids-dashboard {
  text-align: space-between;
  background-color: #434C56;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.go-back-button {
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}
.h1-custom {
  color: white;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

.lids-ip-connection {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #11253D;
  padding: 10px;
  color: white;
}

.connection-status {
  color: yellowgreen;
  padding-left: 10px;
}


.disconnect-button-top {
  background-color: lightgray;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.disconnect-button-top:hover {
  background-color: #e63939;
}

 .top-section-medium {
    background-color: #294893; /* Background color for the top section */
    height: 150px;
  }

.bottom-section {
  background-color: #9B9B9B;
}

.filter-section {
  background-color: #11253D ;
  padding: 20px;
}

.filter-table {
  width: 75%;
  border-collapse: collapse;
  background-color: #9B9B9B;
  margin-left: 200px;
}

.level-1 {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  color: black
}

.level-2 {
  background-color: rgba(255, 255, 0, 0.5);
  color: rgb(100, 100, 0);
}

.level-3 {
  background-color: rgba(255, 0, 0, 0.5);
  color: rgb(100, 0, 0);
}

.alert-table-container{
  border-radius: 20px;
  height: 700px;
  padding: 0 10px 10px 10px;
  overflow: scroll;
}

Table thead{
  background-color: gray;
  position: sticky;
  top: 0px;
  margin: 0 0 0 0;
  border-color: white;
  border-radius: 1px;
}

.alert-table tbody tr:hover {
  background-color: lightgray;
  cursor: pointer;
  opacity: 0.9;
}

.filter-table tbody tr:hover {
  background-color: lightgray;
  cursor: pointer;
  opacity: 0.9;
}