.lids-dashboard {
  text-align: space-between;
  background-color: #434C56;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.go-back-button {
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}
.h1-custom {
  color: white;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

.lids-ip-connection {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #11253D;
  padding: 10px;
  color: white;
}

.connection-status {
  color: yellowgreen;
  padding-left: 10px;
}


.disconnect-button-top {
  background-color: lightgray;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.disconnect-button-top:hover {
  background-color: #e63939;
}

 .top-section-medium {
    background-color: #294893; /* Background color for the top section */
    height: 150px;
  }

.bottom-section {
  background-color: #9B9B9B;
}
